body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.image {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.name {
    margin: 10px 0 0 0;
    font-weight: bolder;
}

.job {
    margin: 0 0 20px 0;
    font-weight: bolder;
    color: rgb(95, 95, 95);
}

p {
    margin: 0 0 20px 0;
    font-weight: bolder;
    text-align: center;
    color: rgb(95, 95, 95);
}

.description{
    color: rgb(95, 95, 95);
    text-align: center;
}

p span {
    text-align: center;
    font-weight: bold;
    color: black;
}

.email {
    margin-bottom: 10px;
}


table {
    margin-bottom: 20px;
    width: 90%;
}

th {
    font-weight: bolder;
    text-align: center;
    color: rgb(95, 95, 95);
}

td {
    text-align: center;
    font-weight: bold;
}

.follow {
    margin-right:10px ;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.hire {
    margin-left: 10px;
    border-color: black;
    background-color: black;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}