body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.image {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.name {
    margin: 10px 0 0 0;
    font-weight: bolder;
}

.job {
    margin: 0 0 20px 0;
    font-weight: bolder;
    color: rgb(95, 95, 95);
}

p {
    margin: 0 0 10px 0;
    font-weight: bolder;
    text-align: center;
    color: rgb(95, 95, 95);
}

.description{
    color: rgb(95, 95, 95);
    text-align: center;
}

p span {
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 0;
}

.card hr {
    width: 90%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.contact {
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
}

.contact h3 {
    color: rgb(95, 95, 95);
    margin: 0;
    padding: 10px 0;

}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.contact-item img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.contact-item span {
    font-size: 16px;
    color: black;
    font-weight: bold;
}
